<mat-sidenav-container class="contenedor">
  <mat-sidenav class="menuIzquierda"
  #sidenav mode="over"
  fixedInViewport [opened]=estaAbierto>menu Star {{estaAbierto}}

  </mat-sidenav>
  <mat-sidenav-content class="contenido">
      <app-cabecera
       (abrirMenu)="sidenav.toggle()">
      </app-cabecera>
      {{prueba}}
      <button mat-button
      (click)="sidenav.toggle()">Click</button>
      <br>
      <button mat-button
      (click)="sidenav.toggle()">Click</button>
      <br>
      <button mat-button
      (click)="sidenav.toggle()">Click</button>
      <br>
      <button mat-button
      (click)="sidenav.toggle()">Click</button>
      <app-pie-pagina></app-pie-pagina>
  </mat-sidenav-content>
</mat-sidenav-container>


