<!-- <mat-sidenav-container class="contenedor">
  <mat-sidenav class="menuIzquierda"
  #sidenav mode="over"
  fixedInViewport [opened]=estaAbierto>menu Star {{estaAbierto}}

  </mat-sidenav>
  <mat-sidenav-content class="contenido">
    <app-cabecera
      (abrirMenu)="sidenav.toggle()">
    </app-cabecera>
    <app-alta-materias></app-alta-materias>
    <app-lectura-materias></app-lectura-materias>
    <app-pie-pagina></app-pie-pagina>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<ul>
  <li *ngFor="let item of items | async">
      <pre>{{ item | json }}</pre>
  </li>
</ul>


