<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Agregar Materias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()" id="formulario">
          <input matInput placeholder="Nombre"
            [(ngModel)]="materia.nombre" name="nombre" required>
      </form>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Cancelar</button>
    <button mat-button form="formulario" type="submit"
      [disabled]="!formulario.form.valid">Agregar</button>
  </mat-card-actions>
</mat-card>
